.filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form-check {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.form-check-input1 {
    color: aquamarine;
}

.form-check-label {
    color: gray;
    margin-left: 2px;
}